.detailed {
  align-self: flex-start;
  margin: 5%;
}

.detailed > h2 {
  font-size: 2.5em;
}

.detailed > p {
  font-size: 1.5em;
}

.detailed > p > a:link {
  color: blue;
}

.detailed > p > a:visited {
  color: blue;
}

.application-btns {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.btn-update {
  margin-top: 0;
  padding: 0.5em 2em 0.5em;
  font-size: 18px;
  border: none;
  background-color: blue;
  color: white;
}

.btn-delete {
  margin-top: 0;
  padding: 0.5em 2em 0.5em;
  font-size: 18px;
  border: none;
  background-color: rgb(167, 0, 14);
  color: white;
}

.btn-update:hover, .btn-delete:hover {
  cursor: pointer;
}