.application {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  min-width: 260px;
  width: auto;
  margin: 2rem 5rem 2rem;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-details {
  width: min-content;
  align-self: flex-end;
  margin-right: 2%;
  border: none;
  font-size: 20px;
  padding: 0.3rem 2.5rem 0.3rem;
  border-radius: 1.5rem;
  background-color: blue;
  color: white;
}