nav {
  position: sticky;
  position: -webkit-sticky;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 15rem;
  height: 100vh;
  width: 15%;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: blue;
}

nav > ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

nav > ul > li > a {
  display: block;
  font-family: 'Merriweather';
  text-decoration: none;
  font-size: 24px;
  color: white;
}

nav > .btn-action {
  margin-top: 1rem;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 1em;
  border-radius: 1em;
  background-color: white;
}

nav > .btn-action:hover {
  cursor: pointer;
}

a.active::after {
  margin: 0;
  display: block;
  position: absolute;
  content: ' ';
  background-color: white;
  height: 0.25rem;
  width: 8em;
  left: 1rem;
  animation: activation 0.5s ease;
}

nav > ul > li {
  margin-top: 5rem;
}

@keyframes activation {
  from {
    width: 0%;
  }
  to {
    width: 8em;
  }
}